---
layout: default
---
<head>
    <script src="/js/min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RRL00SZYL4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RRL00SZYL4');
    </script>
</head>

<div class="home">
    <div class="content-col-wrapper">
        <div class="content-col">
            <div class="dummy">
                <div class="row">
                    <div class="columnl">
                        <b><span style="font-size:25px; text-align:center;">{{ site.name }}</span></b>
                        <br>
                        <img style="width: 90%;" src="{{ site.baseurl }}/images/p2.jpg">
                        <br>
                        <br>
                    </div>
                    <div class="columnr">
                        <br>I am a CS PhD student at UC Berkeley in the <a href="http://theory.cs.berkeley.edu/">theory group</a>, advised by <a href="http://people.eecs.berkeley.edu/~vazirani/">Umesh Vazirani</a>. 
                        My research interests are centered on quantum computation, with a particular focus on algorithms and complexity. Recently, I have been especially interested in algorithms for fermionic systems and complexity of many-body systems (e.g. area laws).

                        <br><br> I gained my footing in research at UIUC, Los Alamos, and a wonderful summer at the <a href="https://uwaterloo.ca/institute-for-quantum-computing/">IQC</a> in Waterloo, with <a href="http://www.davidgosset.com">David Gosset</a>.
                        <br> {{ site.description }}
                        <br> {{ site.now }}
                    </div>
                </div>
                
                <div class="dummy blogpost">
                    📄 <span class="big">Papers</span>
                </div>
            
                <ul class="post-list">


                    <li class="titlepaper">
                        <a class="post-link" href="https://arxiv.org/abs/2610.02167">Polynomial-time classical and quantum simulation of quantum impurity models</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Jiaqing Jiang, Nathan Ju, Ojas Parekh, Chaithanya Rayudu, Andrew Zhao</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta"><a href="https://www.youtube.com/watch?v=krqOy27VIu0">[Jiaqing's talk @ Simons Institute]</a></span>
                    </li>

        

                    <li class="titlepaper">
                        <a class="post-link" href="https://arxiv.org/abs/2510.08446">Code Swendsen-Wang Dynamics</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Dominik Hangleiter, Nathan Ju, Umesh Vazirani</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta"><a href="https://online.kitp.ucsb.edu/online/stablephases25/hangleiter2/">[Dominik's talk @ Kavli Institute for Theoretical Physics]</a></span>
                    </li>


                <!--
                </ul>


                <br>


                <div class="dummy blogpost", style="margin-top: 40px;">
                    📄 <span class="big">Conference papers</span>
                </div>
                <ul class="post-list">

                -->


                    <li class="titlepaper">
                        <a class="post-link" href="https://arxiv.org/abs/2504.10712">Improved approximation algorithms for the EPR Hamiltonian</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Nathan Ju, Ansh Nagda</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta">APPROX 2025</span>
                    </li>


                    <li class="titlepaper">
                        <a class="post-link" href="/research/QuantumCommitments">Commitments to Quantum States</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Sam Gunn, Nathan Ju, Fermi Ma, Mark Zhandry</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta">QIP 2023</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta">STOC 2023 <b>(Invited to SICOMP Special Issue)</b></span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta"><a href="https://www.youtube.com/watch?v=2jP3VKCddxc&pp=ygUPI2p1bmF0aGFuX3RyYXV0">[My talk @ QIP]</a></span>
                    </li>
        

                    <li class="titlepaper">
                        <a class="post-link" href="/research/Overparametrization">Theory of overparametrization in quantum neural networks</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Martin Larocca*, Nathan Ju*, Diego García-Martín, Patrick J. Coles, Marco Cerezo</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta">QIP 2022</span>
                    </li>
                

                    <li class="titlepaper">
                        <a class="post-link" href="/research/InteractiveAdvantage">Interactive quantum advantage with noisy, shallow Clifford circuits</a>
                    </li>
                    <li class="authorpaper">
                        <span class="post-meta">Daniel Grier, Nathan Ju, Luke Schaeffer</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta">QIP 2021</span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta"><a href="https://siebelschool.illinois.edu/news/2021-CRA-undergraduate-research-awards">CRA Honorable Mention</a></span>
                    </li>
                    <li class="venuepaper">
                        <span class="post-meta"><a href="https://youtu.be/X6lRzTfT47k?si=ENnlvE7cuL_Fa_v-&t=27">[My talk @ QIP]</a></span>
                    </li>
               
               
                <!--
                <li class="titlepaper">
                    <a class="post-link" href="/research/MVAlgorithmPaper">Space-saving holographic mean value algorithms for quantum circuits</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Nathan Ju</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">Poster presented at TQC 2020</span>
                </li> -->
                </ul><br>
            </div>
           <!-- 
            <div class="dummy">
                <div class="dummy blogspot">
                    📝 <span class="big" id="blog-header">Blog </span>
                </div>
            </div>
            <ul class="post-list" id="post-list">{% for post in paginator.posts %}
                <li class="titlepost">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                <li class="datepost">
                    <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
</div>

<div>{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
        <b><span class="big">previous page</span></b>
    </a>{% else %}{% endif %}{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
        <b><span class="big">next page</span></b>
    </a>{% else %}{% endif %}
    {% include nav.html %}
</div>
