---
layout: default
---
<head>
    <script src="/js/min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RRL00SZYL4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RRL00SZYL4');
    </script>
</head>

<div class="home">
    <div class="content-col-wrapper">
        <div class="content-col">
            <div class="dummy">
                <div class="row">
                    <div class="columnl">
                        <b><span style="font-size:25px; text-align:center;">{{ site.name }}</span></b>
                        <br>
                        <img style="width: 90%;" src="{{ site.baseurl }}/images/p.jpg">
                        <br>
                        <br>
                    </div>
                    <div class="columnr">
                        <br>I am a CS PhD student at UC Berkeley in the <a href="http://theory.cs.berkeley.edu/">theory group</a>, advised by <a href="http://people.eecs.berkeley.edu/~vazirani/">Umesh Vazirani</a>. I'm interested in quantum computation and computational complexity theory. My research has centered around <i>what makes quantum computers powerful</i> and <i>what capabilities this enables</i>. I've also been thinking about how ideas from quantum information can expand our understanding of quantum many-body physics.
                        <br><br> Previously, I've spent time at the <a href="https://uwaterloo.ca/institute-for-quantum-computing/">IQC</a> and <a href="https://www.lanl.gov/">LANL</a> working on quantum computing research.
                        <br> {{ site.description }}
                        <br> {{ site.now }}
                    </div>
                </div>
                
                <!--
                <div class="photos">
                    <a href="{{ site.baseurl }}/images/jiufen.jpg" class="p3 photo" target="_blank">
                        <img alt="九份 (I took this)" src="{{ site.baseurl }}/images/jiufen.jpg">
                    </a>
                    <a href="https://static.tvtropes.org/pmwiki/pub/images/red_herring1.png" class="p4 photo" target="_blank">
                        <img alt="A red herring" src="https://static.tvtropes.org/pmwiki/pub/images/red_herring1.png">
                    </a>
                    <div class="caption c0">Soviet Turbojet Train</div>
                    <div class="caption c1">The Illustrated Man</div>
                    <div class="caption c2">Felipe V, Upside Down</div>
                    <div class="caption c3">九份 (I took this)</div>
                    <div class="caption c4">A red herring</div>
                </div><br> -->

                <div class="dummy blogpost">
                    📄 <span class="big">Papers</span>
                </div>
            </div>
            <ul class="post-list">

                <li class="titlepaper">
                    <a class="post-link">Code Swendsen-Wang Dynamics</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Dominik Hangleiter, Nathan Ju, Umesh Vazirani</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">(to appear soon)</span>
                </li>


                <li class="titlepaper">
                    <a class="post-link" href="https://arxiv.org/abs/2504.10712">Improved approximation algorithms for the EPR Hamiltonian</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Ansh Nagda, Nathan Ju</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">APPROX 2025</span>
                </li>


                <li class="titlepaper">
                    <a class="post-link" href="/research/QuantumCommitments">Commitments to Quantum States</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Sam Gunn, Nathan Ju, Fermi Ma, Mark Zhandry</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">QIP 2023</span>
                </li>
                <li class="venuepaper">
                  <span class="post-meta">STOC 2023 <b>(Invited to SICOMP Special Issue)</b></span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta"><a href="https://www.youtube.com/watch?v=2jP3VKCddxc&pp=ygUPI2p1bmF0aGFuX3RyYXV0">[Talk recording]</a></span>
                </li>
        

                <li class="titlepaper">
                    <a class="post-link" href="/research/Overparametrization">Theory of overparametrization in quantum neural networks</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Martin Larocca*, Nathan Ju*, Diego García-Martín, Patrick J. Coles, Marco Cerezo</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">QIP 2022</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">Nature Computational Science</span> 
                </li>
                

                <li class="titlepaper">
                    <a class="post-link" href="/research/InteractiveAdvantage">Interactive quantum advantage with noisy, shallow Clifford circuits</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Daniel Grier, Nathan Ju, Luke Schaeffer</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">QIP 2021</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta"><a href="https://www.youtube.com/watch?v=X6lRzTfT47k">[Talk recording]</a></span>
                </li>
               
               
                <!--
                <li class="titlepaper">
                    <a class="post-link" href="/research/MVAlgorithmPaper">Space-saving holographic mean value algorithms for quantum circuits</a>
                </li>
                <li class="authorpaper">
                    <span class="post-meta">Nathan Ju</span>
                </li>
                <li class="venuepaper">
                    <span class="post-meta">Poster presented at TQC 2020</span>
                </li> -->
            </ul><br>
           <!-- 
            <div class="dummy">
                <div class="dummy blogspot">
                    📝 <span class="big" id="blog-header">Blog </span>
                </div>
            </div>
            <ul class="post-list" id="post-list">{% for post in paginator.posts %}
                <li class="titlepost">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                <li class="datepost">
                    <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
</div>

<div>{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
        <b><span class="big">previous page</span></b>
    </a>{% else %}{% endif %}{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
        <b><span class="big">next page</span></b>
    </a>{% else %}{% endif %}
    {% include nav.html %}
</div>
